{{- /* Checks if running interactively, which is not the case for GitHub Codespaces */ -}}
{{- $interactive := stdinIsATTY -}}

{{- /* Initializes the name variable with a default value */ -}}
{{- $name := "Your Name" -}}
{{- /* If name was previously set, reuses it */ -}}
{{- if hasKey . "name" -}}
{{-   $name = .name -}}
{{- /* Otherwise, if running interactively, prompts for a name */ -}}
{{- else if $interactive -}}
{{-   $name = promptString "name" $name -}}
{{- end -}}

{{- /* Does the same for the email */ -}}
{{- $email := "your@email.com" -}}
{{- if hasKey . "email" -}}
{{-   $email = .email -}}
{{- else if $interactive -}}
{{-   $email = promptString "email" $email -}}
{{- end -}}

{{- /* Work or private computer */ -}}
{{- $environment := "work" -}}
{{- if hasKey . "environment" -}}
{{- $environment = .environment -}}
{{- else if $interactive -}}
{{-   $environment = promptString "environment (work/private)" $environment -}}
{{- end -}}

{{- /* Container detection */ -}}
{{- $isContainer := or (stat "/.dockerenv") (ne (env "DEVCONTAINER") "") (ne (env "CODESPACES") "") -}}

{{- if $interactive -}}
{{-   writeToStdout "💡 Tip: you can re-enter your name and email with `chezmoi init --data=false`.\n" -}}
{{- end -}}

sourceDir: {{ .chezmoi.sourceDir | quote }}

data:
  name: {{ $name | quote }}
  email: {{ $email | quote }}
  environment: {{ $environment | quote }}
  iscontainer: {{ $isContainer }}
