{{- $os := .chezmoi.os -}}
{{- $arch := .chezmoi.arch -}}

{{- /* Normalize arch */ -}}
{{- if eq $arch "amd64" }}{{ $arch = "x86_64" }}{{ end -}}
{{- if eq $arch "arm64" }}{{ $arch = "aarch64" }}{{ end -}}

{{- /* Neovim neovim_asset */ -}}
{{- $neovim_asset := "" -}}
{{- $starship_asset := "" -}}
{{- $llvm_asset := "" -}}
{{- if eq $os "linux" -}}
  {{- if eq .chezmoi.arch "arm64" -}}
    {{- $neovim_asset = "nvim-linux-arm64.tar.gz" -}}
    {{- $starship_asset = "starship-aarch64-unknown-linux-musl.tar.gz" -}}
  {{- else -}}
    {{- $neovim_asset = "nvim-linux-x86_64.tar.gz" -}}
    {{- $starship_asset = "starship-x86_64-unknown-linux-musl.tar.gz" -}}
  {{- end -}}
{{- else if eq $os "darwin" -}}
  {{- if eq .chezmoi.arch "arm64" -}}
    {{- $neovim_asset = "nvim-macos-arm64.tar.gz" -}}
    {{- $starship_asset = "starship-aarch64-apple-darwin.tar.gz" -}}
  {{- else -}}
    {{- $neovim_asset = "nvim-macos-x86_64.tar.gz" -}}
    {{- $starship_asset = "starship-x86_64-apple-darwin.tar.gz" -}}
  {{- end -}}
{{- end -}}

{{- /* Zig asset */ -}}
{{- $zig_asset := "" -}}
{{- if eq $os "linux" -}}
  {{- if eq .chezmoi.arch "arm64" -}}
    {{- $zig_asset = "zig-linux-aarch64-0.14.1.tar.xz" -}}
  {{- else -}}
    {{- $zig_asset = "zig-linux-x86_64-0.14.1.tar.xz" -}}
  {{- end -}}
{{- else if eq $os "darwin" -}}
  {{- if eq .chezmoi.arch "arm64" -}}
    {{- $zig_asset = "zig-macos-aarch64-0.14.1.tar.xz" -}}
  {{- else -}}
    {{- $zig_asset = "zig-macos-x86_64-0.14.1.tar.xz" -}}
  {{- end -}}
{{- end -}}

[".local/bin/starship"]
type = "archive-file"
url = {{ gitHubLatestReleaseAssetURL "starship/starship" $starship_asset | quote }}
refreshPeriod = "168h"
executable = true
path = "starship"

[".oh-my-zsh"]
type = "git-repo"
url = "https://github.com/ohmyzsh/ohmyzsh.git"
refreshPeriod = "168h"

[".oh-my-zsh-custom/plugins/zsh-syntax-highlighting"]
type = "git-repo"
url = "https://github.com/zsh-users/zsh-syntax-highlighting.git"
refreshPeriod = "168h"

[".oh-my-zsh-custom/plugins/zsh-autosuggestions"]
type = "git-repo"
url = "https://github.com/zsh-users/zsh-autosuggestions.git"
refreshPeriod = "168h"

[".local"]
type = "archive"
url = {{ gitHubLatestReleaseAssetURL "neovim/neovim" $neovim_asset | quote }}
refreshPeriod = "168h"
stripComponents = 1

[".local/bin/direnv"]
type = "file"
url = {{ gitHubLatestReleaseAssetURL "direnv/direnv" (printf "direnv.%s-%s" $os .chezmoi.arch) | quote }}
refreshPeriod = "168h"
executable = true

[".local/zig"]
type = "archive"
url = {{ printf "https://ziglang.org/download/0.14.1/%s" $zig_asset | quote }}
refreshPeriod = "168h"
stripComponents = 1
