#!/bin/bash
set -e
export PATH="{{ .chezmoi.homeDir }}/.local/bin:$PATH"

echo "Running Neovim LazyVim bootstrap..."
"{{ .chezmoi.homeDir }}/.local/bin/nvim" --headless -c 'Lazy install' -c 'qa'
"{{ .chezmoi.homeDir }}/.local/bin/nvim" --headless -c 'TSInstallSync all' -c 'qa'
