#!/bin/sh
set -e

echo "[chezmoi] Checking Nix installation..."

if command -v nix >/dev/null 2>&1; then
    echo "[chezmoi] Nix already installed."
    exit 0
fi

echo "[chezmoi] Installing Nix (auto-detect mode)..."
curl -L https://install.determinate.systems/nix \
  | sh -s -- install --no-confirm

echo "[chezmoi] Nix installation complete."